@import "tailwindcss";

@layer base {
  body {
    background-color: #050505;
    color: #e5e7eb;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #0a0a0a;
  }

  ::-webkit-scrollbar-thumb {
    background: #262626;
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }
}
